.cover-container {
    max-width: 60vw;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0 , 0, 0.5)),
    url("https://source.unsplash.com/qLSU8ir4diY/4402×2764");
    background-size: cover;
    background-position: center;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color:rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
} 